# Week 35 SQL Challenge

First, connect to the database and ensure the tables are empty.

In [1]:
%load_ext sql

In [2]:
import mysqlinfo
db_string = mysqlinfo.mysql_string + 'week_35'

In [3]:
%sql {db_string}

In [4]:
%sql SHOW TABLES

 * mysql://root:***@localhost/week_35
2 rows affected.

[('products',), ('stadium',)]

# Problem 1
https://leetcode.com/problems/human-traffic-of-stadium/

In [ ]:
%%sql

Create table If Not Exists Stadium (id int, visit_date DATE NULL, people int);
Truncate table Stadium;
insert into Stadium (id, visit_date, people) values ('1', '2017-01-01', '10');
insert into Stadium (id, visit_date, people) values ('2', '2017-01-02', '109');
insert into Stadium (id, visit_date, people) values ('3', '2017-01-03', '150');
insert into Stadium (id, visit_date, people) values ('4', '2017-01-04', '99');
insert into Stadium (id, visit_date, people) values ('5', '2017-01-05', '145');
insert into Stadium (id, visit_date, people) values ('6', '2017-01-06', '1455');
insert into Stadium (id, visit_date, people) values ('7', '2017-01-07', '199');
insert into Stadium (id, visit_date, people) values ('8', '2017-01-09', '188');

In [ ]:
%sql SELECT * FROM Stadium;

Write an SQL query to display the records with three or more rows with consecutive id's, and the number of people is greater than or equal to 100 for each.

Return the result table ordered by visit_date in ascending order.

# Problem 2

https://leetcode.com/problems/recyclable-and-low-fat-products/

In [ ]:
%%sql

Create table If Not Exists Products (product_id int, low_fats ENUM('Y', 'N'), recyclable ENUM('Y','N'));
Truncate table Products;
insert into Products (product_id, low_fats, recyclable) values ('0', 'Y', 'N');
insert into Products (product_id, low_fats, recyclable) values ('1', 'Y', 'Y');
insert into Products (product_id, low_fats, recyclable) values ('2', 'N', 'Y');
insert into Products (product_id, low_fats, recyclable) values ('3', 'Y', 'Y');
insert into Products (product_id, low_fats, recyclable) values ('4', 'N', 'N');

In [ ]:
# View the table
%sql SELECT * FROM Products;

Write an SQL query to find the ids of products that are both low fat and recyclable.

Return the result table in any order.

In [ ]:
%%sql
SELECT product_id from Products 
WHERE low_fats = 'Y' AND recyclable = 'Y'
ORDER BY 1 ASC;